<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
    {% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
    {% endif %}
    
    <!-- Bootstrap Core CSS -->
    <link href="{{ theme_url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ theme_url }}/css/agency.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{{ theme_url }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      
    
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/app.css">

    <link rel="apple-touch-icon" sizes="76x76" href="{{ theme_url }}/assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ theme_url }}/assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ theme_url }}/assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="{{ theme_url }}/assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="{{ theme_url }}/assets/img/favicon.ico">
  </head>

 <body id="{{ meta.title }}" class="index">

    <!-- Navigation -->
     <div>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                <a class="navbar-brand page-scroll" href="#{{ meta.title }}">{{ meta.title }} </a>
                -->
                <a href="{{ base_url }}/#portfolio" class="site-logo" itemscope="" itemtype="http://schema.org/Organization">
						<img src="{{ theme_url }}/img/logos/Arrow-Small-40.png">
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="{{ base_url }}/#about">Om Metria</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="{{ base_url }}/#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ base_url }}/#contact">Kontakta oss</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://butiken.metria.se/ehandel/login/anonymous" target="_blank">Logga in</a>s
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </div>
         
    <div id="container">
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <br>        
              <img src="{{ theme_url }}/img/ehandel.png">
            </div>
            
            
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <div id="loading">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info progress-bar-full"></div>
        </div>
      </div>
    </div>

    

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js"></script>
    
    <script src="{{ theme_url }}/assets/js/proj4-compressed.js"></script>
    <script src="{{ theme_url }}/assets/js/proj4leaflet.js"></script>
    <script src="{{ theme_url }}/assets/js/app.js"></script>
     
     
  </body>
</html>
